<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Hobbies</title>
</head>
<body>
  <h1>Hobbies:</h1>
  <ol>
    <li>Jogar Video Game</li>
    <li>Comer e Beber :)</li>
    <li>Dormir</li>
  </ol>

  <h1>Linguagens que tenho interesse:</h1>
  <ul>
    <li>C</li>
    <li>C++</li>
    <li>JavaScript</li>
  </ul>

  <p>Entre no site do IFSP: <a href="https://arq.ifsp.edu.br">Instituto Federal</a></p>
</body>
</html>