{% extends 'base.html' %}

{% block titulo %} Pacientes — VidaSaúde {% endblock %}

{% block conteudo %}
    <h1>Confira os pacientes cadastrados em nossa clínica!</h1>

    {% if PACIENTES %}
        <ul>
            {% for paciente in PACIENTES %}
                <li>
                    <p><strong>Nome:</strong> {{ paciente['nome'] }}</p>
                    <p><strong>Idade:</strong> {{ paciente['idade'] }}</p>
                    <p><strong>Convênio:</strong> {{ paciente['convenio'] }}</p>
                    <p><strong>Especialidade:</strong> {{ paciente['especialidade'] }}</p>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum paciente cadastrado ainda.</p>
    {% endif %}
{% endblock %}
