{% extends 'base.html' %}

{% block title %} Sobre — JobHub {% endblock %}

{% block conteudo %}
    <h1>Entenda um pouco sobre nossa empresa!</h1>
    
    <p><strong>Nossa Missão:</strong> A missão da JobHub é conectar talentos a grandes empresas, criando conexões <br> ágeis que impulsionam carreiras, facilitam o acesso a oportunidades de trabalho e promovem <br> o crescimento profissional de forma humanizada.</p>
    <p><strong>Endereço:</strong> Rua do Trabalho, 500 — São Paulo/SP</p>
    <p><strong>E-mail:</strong> contato@jobhub.com.br</p>
    <p><strong>Horário de atendimento:</strong> Segunda a Sexta, 9h às 18h</p>

{% endblock %}